<footer class="footer">
    <div class="row no-margin">
        <div class="col-xs-12 col-sm-8 position central">
            <div class="col-xs-6 col-sm-4">
                <h5 class="footer__title">Site map</h5>
                <ul class="footer__list">
                    <li class="footer__item"><a class="footer__link" href="about.html">About</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="volunteers.html">Volunteers</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="non-profits.html">Non-Profits</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="projects.html">Projects</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="events.html">Events</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h5 class="footer__title">Get to know us</h5>
                <ul class="footer__list">
                    <li class="footer__item"><a class="footer__link" href="https://twitter.com/WHFNP"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="https://www.facebook.com/whfnp/"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="https://blog.womenhackfornonprofits.com/"><i class="fa fa-medium" aria-hidden="true"></i> Medium</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="https://github.com/womenhackfornonprofits"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h5 class="footer__title">Get Involved</h5>
                <ul class="footer__list">
                    <li class="footer__item"><a class="footer__link" href="volunteer-contact.html">Volunteer with us</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="non-profits-contact.html">Work with us</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <p class="footer__copyright">Copyright &#xA9; Women Hack For Non-Profits 2016.</p>
            </div>
        </div>
    </div>
</footer>