<html lang="en-gb">
  <head>
    <title>{{ page.title }}</title>
    <!--Meta Data-->
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="created" content='13th Dec 2015 04:37' />
    <meta name="description" content="Women Hack for Non-Profits: We are a community of women in tech building open source projects for non-profit organizations and individuals with a cause. We pair volunteers with projects and support them on their journey. " />
    <meta name="keywords" content="" />
    <meta name="author" content="Women Hack for Non-Profits" />
    <meta name="copyright" content="All text content and images copyright womenhackfornonprofits.com" />
    <meta name="company" content="Women Hack for Non-Profits" />
    <link rel="shortcut icon" href="img/icons/icon2.png" type="image/x-icon" />
    <!--Facebook-->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="link_to_image">
    <meta property="og:description" content="Women Hack for Non-Profits is a program that brings passionate women in technology together to collaborate on projects for registered non-profits and charities or individuals with a great cause, both in the UK and around the world.">
    <!--Twitter-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@whfnp" />
    <meta name="twitter:title" content="Women Hack For Non-Profits" />
    <meta name="twitter:description" content="{{ page.title }}" />
    <meta name="twitter:image" content="img/icons/whfnpLogoSocialMediaIcon.png" />
    <!--Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
    <!--[if IE]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
