<header class="header container">
	<div class="header__wrapper col-sm-12">
	    <a class="header__logo" href="index.html">
	    	<img src="img/whfnplogo.svg" alt="WHFNP Logo Image">
	    </a>
		<nav class="header__nav">
		    <ul class="header__list">
		        <li class="header__item">
		            <a class="header__link" href="about.html">About</a>
		        </li>
		        <li class="header__item">
		            <a class="header__link" href="volunteers.html">Volunteers</a>
		        </li>
		        <li class="header__item hide-md-down">
		            <a class="header__link" href="non-profits.html">Non-Profits</a>
		        </li>
		        <li class="header__item">
		            <a class="header__link" href="projects.html">Projects</a>
		        </li>
		        <li class="header__item hide-md-down">
		            <a class="header__link" href="events.html">Events</a>
		        </li>
		        <li class="header__item hide-md-down">
		            <a class="header__link" href="https://blog.womenhackfornonprofits.com/">Blog</a>
		        </li>
		        <li class="header__item">
		            <a class="header__link" href="contact.html">Contact</a>
		        </li>
		    </ul>
		</nav>
	</div>
</header>
