<header class="header container">
	<div class="header__wrapper col-sm-12">
	    <a class="header__logo" href="index.html">
	    	<img src="http://res.cloudinary.com/drdmdqahj/image/upload/v1478310998/whfnplogo_zzthwd.svg" alt="WHFNP Logo Image">
	    </a>
		<nav class="header__nav js-header-nav">
		    
		    <button class="header__nav-toggle js-nav-toggle"><span class="hidden">Menu</span></button>

		    <ul class="header__list js-header-list">
			        <li class="header__item">
			            <a class="header__link" href="about.html">About</a>
			        </li>
			        <li class="header__item">
			            <a class="header__link" href="volunteers.html">Volunteers</a>
			        </li>
			        <li class="header__item">
			            <a class="header__link" href="non-profits.html">Non-Profits</a>
			        </li>
			        <li class="header__item">
			            <a class="header__link" href="projects.html">Projects</a>
			        </li>
			        <li class="header__item">
			            <a class="header__link" href="events.html">Events</a>
			        </li>
			        <li class="header__item">
			            <a class="header__link" href="https://blog.womenhackfornonprofits.com/">Blog</a>
			        </li>
			        <li class="header__item">
			            <a class="header__link" href="contact.html">Contact</a>
			        </li>
		    </ul>

		</nav>

	</div>
</header>
