<input type="checkbox" id="primary-toggle" class="nav-toggle" />
<nav id="mobile-nav">
  <label for="primary-toggle" class="hamburger"></label>
  <ul>
    <li>
      <a href="about.html" class="menu-item">About</a>
    </li>
    <li>
      <a href="volunteers.html" class="menu-item">Volunteers</a>
    </li>
    <li>
      <a href="non-profits.html" class="menu-item">Non-Profits</a>
    </li>
    <li>
      <a href="projects.html" class="menu-item">Projects</a>
    </li>
    <li>
      <a href="events.html" class="menu-item">Events</a>
    </li>
    <li>
      <a href="https://blog.womenhackfornonprofits.com/" class="menu-item">Blog</a>
    </li>
    <li>
      <a href="contact.html" class="menu-item">Contact</a>
    </li>
  </ul>
</nav>