<!-- Desktop Nav -->
<nav id="primary-nav">
  <ul>
    <li>
      <a href="about.html">About</a>
    </li>
    <li>
      <a href="volunteers.html">Volunteers</a>
    </li>
    <li>
      <a href="non-profits.html">Non-Profits</a>
    </li>
    <li>
      <a href="projects.html">Projects</a>
    </li>
    <li>
      <a href="events.html">Events</a>
    </li>
    <li>
      <a href="https://blog.womenhackfornonprofits.com/">Blog</a>
    </li>
    <li>
      <a href="contact.html">Contact</a>
    </li>
  </ul>
</nav>