<section>
    <div class="container">
        <div class="col-sm-12">
            <h2 class="section-heading">Our Partners</h2>
            <p>If you would like to support us by providing a venue or sponsiring a meetup please get in touch. We run frequent events and are always looking to try out new venues.</p>

            <ul class="partner-list">
                <li>
                    <a href="http://www.pyladies.com/">
                        <img src="https://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311035/pyladies_logo_cib4ix.png" alt="PyLadies Logo Image">
                    </a>
                </li>
                <li>
                    <a href="https://www.thoughtworks.com/">
                        <img src="http://res.cloudinary.com/drdmdqahj/image/upload/c_fit,q_65,w_148/v1478363223/thoughtworks_logo_ja5gct.png" alt="Thoughtworks Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://www.systango.com/">
                        <img src="http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478364074/logo_kkogwj.png" alt="Systango Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://www.esynergy-solutions.co.uk/">
                        <img src="http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311035/esynergysolutions_logo_owxl3d.png" alt="eSynergy Solutions Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://www.stratifiedmedical.com/">
                        <img src="https://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311035/stratifiedmedical_logo_ekwfvy.png" alt="Stratified Medical Logo Image">
                    </a>
                </li>
                <li>
                    <a href="https://www.womenwhocode.com/">
                        <img src="https://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311036/womenwhocode_logo_h8lbey.png" alt="Women Who Code Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://www.venntro.com/">
                        <img src="https://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311036/venntro_logo_mwfngp.pngg" alt="Venntro Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://empowerhack.io/">
                        <img src="https://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311035/empowerhack-logo_j3e5bz.png" alt="Empower Hack Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://enough.de/home/">
                        <img src="http://res.cloudinary.com/drdmdqahj/image/upload/c_scale,q_67,w_153/v1478311036/enough-software-logo_koctuu.png" alt="Enough Software Logo Image">
                    </a>
                </li>
                <li>
                    <a href="https://tmt.knect365.com/devops-world">
                        <img src="http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311035/devopsworld_logo_nduiff.png" alt="DevOps World Logo Image">
                    </a>
                </li>
            </ul>
            <a href="contact.html" class="button">Become a Partner</a>
        </div>
    </div>
</section>
