<section>
    <div class="container">
        <div class="col-sm-12">
            <h2 class="section-heading">Our Partners</h2>
            <ul class="partner-list">
                <li>
                    <a href="http://www.pyladies.com/">
                        <img src="img/partners/pyladies_logo.png" alt="PyLadies Logo Image">
                    </a>
                </li>
                <li>
                    <a href="https://www.thoughtworks.com/">
                        <img src="img/partners/thoughtworks_logo.png" alt="Thoughtworks Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://www.systango.com/">
                        <img src="img/partners/systango_logo.png" alt="Systango Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://www.esynergy-solutions.co.uk/">
                        <img src="img/partners/esynergysolutions_logo.png" alt="eSynergy Solutions Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://www.stratifiedmedical.com/">
                        <img src="img/partners/stratifiedmedical_logo.png" alt="Stratified Medical Logo Image">
                    </a>
                </li>
                <li>
                    <a href="https://www.womenwhocode.com/">
                        <img src="img/partners/womenwhocode_logo.png" alt="Women Who Code Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://www.venntro.com/">
                        <img src="img/partners/venntro_logo.png" alt="Venntro Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://empowerhack.io/">
                        <img src="img/partners/empowerhack-logo.png" alt="Empower Hack Logo Image">
                    </a>
                </li>
                <li>
                    <a href="http://enough.de/home/">
                        <img src="img/partners/enough-software-logo.png" alt="Enough Software Logo Image">
                    </a>
                </li>
            </ul>
            <p class="text-center">We are always looking for partners to help us run events.</p>
            <a href="contact.html" class="button">Become a Partner</a>
        </div>
    </div>
</section>