<nav class="social">
  <ul>
    <li>
      <a class="social-icon twitter" href="https://twitter.com/WHFNP"></a>
    </li>
    <li>
      <a class="social-icon facebook" href="https://www.facebook.com/whfnp"></a>
    </li>
    <li>
      <a class="social-icon github" href="https://github.com/womenhackfornonprofits"></a>
    </li>
    <li>
      <a class="social-icon newsletter" href="http://womenhackfornonprofits.us11.list-manage2.com/subscribe?u=ca00ef17f5d3137d5ec0c274d&id=f7a1fc4d92"></a>
    </li>
    <li>
      <a class="social-icon medium" href="https://medium.com/women-hack-for-non-profits"></a>
    </li>
  </ul>
</nav>