@import "partials/base";


*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: $base-font-name;
	font-weight: $base-font-light;
	font-size: 1.2em;
	line-height: $line-height;
	letter-spacing: 0.01em;
	color: $black; 
	line-height: 1.6em;
	font-size: $base-font-size;

}
.content {
	max-width: 70em;
	margin: 0 auto; 
	height: 100%;
} 

#logo {
	width: 15em;
	margin-top: 1em;

}
.img-container {
	display: inline-block;
	width: 50%;
	padding: .3em;
	vertical-align: top;
}
header {
	height: auto;
}
/** Navigation Styles**/
nav {
	display: none;
	vertical-align: top;
	margin: 0;
	padding: 0;
	width: 55%;
	//position: absolute;
	//top:0;
	ul {
		padding: 0;
		list-style: none;
		width: 100%;
		margin: 0 auto;
		display: flex;
		//max-width: 30em; 
		flex-wrap: wrap;
		flex-direction: row;
		li {
			flex-grow: 1;
			text-align: center;
			display: inline-block;
			padding: 2.7em .2em;
			margin: 0 auto;
			text-align: center;
			font-size: $base-font-size;
			a {
				text-decoration: none;
				font-family: $base-font-name;
				text-transform: uppercase;
				color: $nav-link-color;
				padding-bottom: 0.15em;
				&:visited{
					color: $nav-link-visited-color;
				}
				&:hover {
					border-bottom: 0.15em solid $salmon-pink;
				}

			}
		}
	}
}

.col-wrap {
	margin: 0;
	padding: 0;
    clear: both;
}
.founding-team, .board-teams {
	max-width: 50em;
	margin: 0 auto;
	padding: 0;
}
.board-teams {
	.col-3 {
		background-color: $pop-pink;
		border:0;
		h2 {
			color: $white;
		}
		margin: 0;
	}
	.col-3:nth-child(odd) {
		background-color: $pop-blue;
	}

}
.col-3 {
	width: auto;
	margin: $padding-margin-value;
	border: 0.1em solid $pop-pink;
	padding: $padding-margin-value;
	text-align: center;

	h2 {
		text-transform: none;
		font-size: $title-font-size/1.3;
		color: #333;
		padding: 0;
	}
	p {
		margin: $padding-margin-value 0;
	}

}
// setting default volunteer image
$default-volunteer: url('../img/volunteers/default_volunteer.png');
$vinita-image: url('../img/volunteers/Vinita_Rathi.jpg');
$nandhini-image: url('../img/volunteers/Nandhini_Narasimhan.jpeg');
$tanya-image: url('../img/volunteers/Tanya_Powell.jpg');
$lili-image: url('../img/volunteers/default_volunteer.png');
$corinne-image: url('../img/volunteers/default_volunteer.png');
$rainey-image: url('../img/volunteers/default_volunteer.png');
$funmi-image: url('../img/volunteers/default_volunteer.png');
$kriselda-image: url('../img/volunteers/default_volunteer.png');
$charu-image: url('../img/volunteers/default_volunteer.png');

.vinita {
	background: $vinita-image no-repeat center center;

}
.nandhini {
	background: $nandhini-image no-repeat center center;
}
.tanya {
	background: $tanya-image no-repeat center center;
}
.lili {
	background: $lili-image no-repeat center center;
}
.corinne {
	background: $corinne-image no-repeat center center;
}
.rainey {
	background: $rainey-image no-repeat center center;
}
.funmi {
	background: $funmi-image no-repeat center center;
}
.kriselda {
	background: $kriselda-image no-repeat center center;
}
.charu {
	background: $charu-image no-repeat center center;
}

.volunteer-picture {
	border: none;
	background-size: cover;
	position: relative;
	padding: 0;
	height: 15em;
	width: auto;
	h2 {
		color: $white;
		position: absolute;
		bottom: 0;
		padding: $padding-margin-value/2 0;
		width: 100%;
		background-color: $volunter-name-bg-color-1;

	}
	p {
		position: absolute;
		top: 0;
		right: 0;
		padding: $padding-margin-value/2;
		margin: $padding-margin-value/2 0;
		background-color:$volunter-type-bg-color-1;
		color: $white;

	}
	
}
.volunteer-picture:nth-child(even) {
	h2 {
		background-color: $volunter-name-bg-color-2;

	}
	p {
		background-color: $volunter-type-bg-color-2;
	}

}

.icon img {
	height: 4em;
}
.banner {
	background:  linear-gradient(
      rgba(255, 137, 122, 0.6),  
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/background-2.jpeg') no-repeat center center;
	background-size: cover;
	h2 {
		font-family: $base-font-name;
		font-weight: $base-font-light;
		color: $white;
		font-size: 1.6em;
		line-height: 1.6em;
		max-width: 40em;
		margin:0 auto;
		text-transform: none;
	}
}

h1 {
	font-family: $title-font-name;
	font-weight: 100;
	color: $white;
	font-size: $title-font-size;
	line-height: $h1-line-height;
	text-align: center;
	padding: 1em 0;
	margin: 0;
}

h2 {
	font-family: $title-font-name;
	padding: $padding-margin-value/2;
	padding-top: 0;
	font-weight: bold;
	color: $pop-pink;
	font-size: $title-font-size/1.5;
	max-width: 40em;
	margin:0 auto;
	text-align: center;
}


.smaller-banner {
	background:  linear-gradient(
      rgba(255, 137, 122, 0.6),  
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/background-2.jpeg') no-repeat center center;
	background-size: cover;
	height: $smaller-banner-height;
	h1 {
		padding: 0;
	}

}

.text-link {
	color: #ff897a;
	padding-bottom: 0.1em;
	text-decoration: none;
  	border-bottom: 1px  #ff897a dashed;

}
.partner-list {
	list-style: none;
	max-width: 27em;
	margin: $padding-margin-value auto;
	li {
		display: inline-block;
		height: 6em;
	}
	img {
		height: 100%;
		width: auto;
	}
}

.project-img {
	height: $project-image-height;
	background: url('../img/background-2.jpeg') no-repeat center center;
	background-size: cover;
	margin: $padding-margin-value 0;
}
.project-info {
	vertical-align: top;
}
.project {
	h3 {
		text-align: center;
		font-style: bold;
		font-weight: 100;
		padding: 0;
		padding-bottom: $padding-margin-value/4;

	}
	h2 {
		padding: 0;
		padding-bottom: $padding-margin-value/4;
	}
}
.button {
	max-width: 12em;
	margin: $padding-margin-value auto 0 auto;
	border: 0.1em solid $pop-pink;
	text-decoration: none;
	padding: $padding-margin-value/2;
	display: block;
	color: $pop-pink;
	text-align: center;
	&:visited{
	color: $pop-pink;
	}
	&:hover {
		background-color: $pop-pink;
		color: #fff;
	}
	
}

footer {
	background-color: #3c3c3c;
	padding: 3em;
	p {
		text-align: center;
		font-weight: 100;
		font-size: 0.9em;
		color: #fff;
	}
}

@import "partials/section";
@import "partials/media";
