@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

@import "partials/normalize";
@import "partials/bootstrap-custom";
@import "partials/colours";
@import "partials/base";
@import "partials/mixins";
@import "partials/custom_typography";

@import "partials/nav";
@import "partials/banners";
@import "partials/section";
@import "partials/button";
@import "partials/projects";
@import "partials/social";
@import "partials/form";
@import "partials/footer";
@import "partials/partners";
@import "partials/layout";

*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.content {
	max-width: 70em;
	margin: 0 auto; 
	height: 100%;
} 

.volunteer-link {
	text-decoration: none;
	color: $pop-pink;
	
	&:visited{
		color: $pop-pink;
	}
}

.volunteer-quote {
	text-align: left;
	font-style: italic;
}

.volunteer {
	margin-top: 3em;
}

.who-we-are {
	padding: $padding-margin-value;

	&:first-child, &:last-child {
		border-right: 1px solid #F5F5F5; 
	}

}

.how-it-works {
	p {
		border: 0;
		text-align: center;
	}
}

.hidden {
	display: none;
}

.faq {
	p, h3 {
		text-align: left;
		padding: $padding-margin-value/2 $padding-margin-value/2 0 $padding-margin-value/2;
	}
	h3 {
		color: $pop-pink;
		font-style: italic;
	}
	max-width: $max-text-width; 
	margin: 0 auto;
	ul {
		list-style: disc;
		padding:0 $padding-margin-value;

	}
}

.speech-bubble {
	background-color: $white;
	position: relative;
	padding: 30px;
	border-radius: 40px;
	margin: 30px 0;
	p {
		text-align: left;
		color: $black;
	}
}

.speech-bubble--btm-left {

	&:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: -8px;
	  	right: auto;
	  	top: auto;
		bottom: -40px;
		border: 32px solid;
		border-color: transparent transparent transparent #666;
	}

	&:after{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: 0px;
	  	right: auto;
	  	top: auto;
		bottom: -20px;
		border: 22px solid;
		border-color: transparent transparent transparent lightyellow;
	}
}

.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  	right: auto;
  	top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  	right: auto;
  	top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}

.speech-bubble--left:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 4em;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid $white;
  border-bottom: 13px solid transparent;

}


.speech-bubble--right:before {
	content:"";
	position: absolute;
	left: 100%;
	top: 3em;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 26px solid $white;
	border-bottom: 13px solid transparent;
}


.icon img {
	height: 4em;
}


.title-heading {
	color: $white;
	text-shadow: 1px 1px #7b7b7b;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;

	@media (min-width: 500px) {
		font-size: 3em;
	}
}

.sub-title {
	font-weight: 300;
}

.section-heading {
	color: $pop-pink;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.text-link {
	color: $orange;
	padding-bottom: 0.1em;
	text-decoration: none;
  	border-bottom: 1px  $orange dashed;

}

.text-center {
	text-align: center;
}

.volunteer-picture, .non-profit-picture {
	border: none;
	background-size: cover;
	display: block;
	padding: 0;
	height: auto;
	width: 15em;
	margin: 0 auto;
	
	h2 {
		color: $white;
		padding: $padding-margin-value/2 0;
		width: 100%;
		display: none;
	}
	p {
		padding: $padding-margin-value/2;
		margin: $padding-margin-value/2 0;
		color: $white;
		display: none;

	}
}

.non-profit-icons {
	width: 4em;
	margin: $padding-margin-value/2 auto;
}

.non-profit-picture {
	width: 100%;
}


.non-profits-wrap, .volunteers-wrap {
	img {
		margin: 2em auto;
    	width: auto;
	}
}

.volunteers {
	margin-top: 5em;
}

.non-profits-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	p {
		color: $black !important;
		font-style: italic;
	}
}

.non-profits-logo {
	display: none;

	@media (min-width:768px) {
		display: block;
	}

}

.left-align-text {
	text-align: left;
}

.board-name {
	padding: $padding-margin-value;
}


