@import "partials/base";
@import "partials/reset";
*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: $base-font-name;
	font-weight: $base-font-light;
	font-size: 1.2em;
	line-height: $line-height;
	letter-spacing: 0.01em;
	color: $black; 
	line-height: 1.6em;
	font-size: $base-font-size;

}

.content {
	max-width: 70em;
	margin: 0 auto; 
	height: 100%;
} 

#logo {
	margin-top: $padding-margin-value/2;
	max-width: 15em;
	width: 15em;
	margin-left: $padding-margin-value;
}
.img-container {
	display: inline-block;
	float: left;
}

header {
	min-height: 5em;
	/** to help nav not be a little buggy fixed header does the trick **/

	@media(min-width:750px) {
		position: relative;
		border: none;
	}
	position: fixed;
	display: block;
	background-color: $white;
	border-bottom: 1px solid $grey;
	width: 100%;
	z-index: 99;

}

h3 {
	text-align: center;
}
.volunteer-link {
	text-decoration: none;
	color: $pop-pink;
	&:visited{
		color: $pop-pink;
	}
}
.volunteer-quote {
	text-align: left;
	font-style: italic;
}
.faq {
	p, h3 {
		text-align: left;
		padding: $padding-margin-value/2 $padding-margin-value/2 0 $padding-margin-value/2;
	}
	h3 {
		color: $pop-pink;
		font-style: italic;
	}
	max-width: $max-text-width; 
	margin: 0 auto;
	ul {
		list-style: disc;
		padding:0 $padding-margin-value;

	}
}

.client-testimonial{
	.col-2 {
		p {
			padding: $padding-margin-value;
			padding-top: 2em;
		}
		h3 {
			padding: 1em;
		}
		margin-bottom: $padding-margin-value;
		@media(min-width:600px) {
			min-height: 18em;

		}

	}


}
.speech-bubble-left, .speech-bubble-right {
	background-color: $white;
	position: relative;
	border-radius: 1em;
	p {
		text-align: left;

	}
}

.speech-bubble-left:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 4em;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid $white;
  border-bottom: 13px solid transparent;

}



.speech-bubble-left:before {
	content:"";
	position: absolute;
	right: 100%;
	top: 3em;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 26px solid $white;
	border-bottom: 13px solid transparent;
}

.speech-bubble-right:before {
	content:"";
	position: absolute;
	left: 100%;
	top: 3em;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 26px solid $white;
	border-bottom: 13px solid transparent;
}


.icon img {
	height: 4em;
}


.title-heading {
	font-family: $title-font-name;
	font-weight: 400;
	color: $white;
	font-size: $h1-font-size/1.5;
	line-height: $h1-line-height/1.5;
	text-align: center;
	padding: 2em 0;
	padding-bottom: 0;
	margin: 0;
	text-shadow: 1px 1px $black;
	max-width: 100%;
	margin-bottom: 0;
	@media(min-width:600px) {
		font-size: $h1-font-size;
		line-height: $h1-line-height;
	}

}


.founding-team {
	.col-2 h2 {
		font-weight: 100;
		font-size: 1.6em;
	}
}
.section-heading, .sub-title, h2 {
	min-width: 5em;
	line-height: $title-font-size;
	font-family: $title-font-name;
	padding: $padding-margin-value/2;
	padding-bottom: 0.5em;
	font-weight: bold;
	color: $pop-pink;
	font-size: $title-font-size;
	max-width: 40em;
	font-weight: 400;
	margin:0 auto;
	text-align: center;
}



.text-link {
	color: $orange;
	padding-bottom: 0.1em;
	text-decoration: none;
  	border-bottom: 1px  $orange dashed;

}


.volunteer-picture, .non-profit-picture {
	border: none;
	background-size: cover;
	position: relative;
	padding: 0;
	height: 15em;
	width: auto;
	h2 {
		color: $white;
		padding: $padding-margin-value/2 0;
		width: 100%;
		display: none;
	}
	p {
		padding: $padding-margin-value/2;
		margin: $padding-margin-value/2 0;
		color: $white;
		display: none;

	}
}

.non-profit-icons {
	width: 4em;
	margin-bottom: $padding-margin-value/2;
}
.non-profit-picture {
	width: 100%;
}

.overlay-text > h2 {
	padding: $padding-margin-value/2 0;
}
.non-profits-wrap, .volunteers-wrap {
	img {
		margin: 2em auto;
    	width: auto;
	}
}

.non-profits-wrap {
	img {
    	display: none;
	}
	@media(min-width:600px) {
		img {
			display: block;
		}

	}
}
.founding-team, .non-profits-wrap, .volunteers-wrap{
	max-width: 55em;
	margin: 0 auto;
	padding: 0;
	@media (min-width: 600px) {
		padding:0;
		.col-3 {
			min-height: 15em;
		}
	}
}
.left-align-text {
	text-align: left;
}

.board-name {
	padding: $padding-margin-value;
	font-size: 1.5em;
}

@import "partials/nav";
@import "partials/banners";
@import "partials/section";
@import "partials/button";
@import "partials/projects";
@import "partials/columns";
@import "partials/social";
@import "partials/form";
@import "partials/footer";
@import "partials/partners";

