.banner {
	background: 
		linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
 		url('../img/index.jpg') no-repeat center center;
	background-size: cover;
	height
	height: 35em;

}

.banner,
.smaller-banner {
	display: flex;
  	align-items: center;
  	padding: 0;
}

.smaller-banner {
	background: 
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
 	url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478310997/about_p9pybx.jpg') no-repeat center center;
	background-size: cover;
	height: $smaller-banner-height;
}

.volunteers-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478310998/404_neecmy.jpg') no-repeat center center;
    background-size: cover;
}

.events-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478310999/events_udi8kc.jpg') no-repeat center center;
    background-size: cover;
}

.contact-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478311003/contact_qmzep0.jpg') no-repeat center center;
    background-size: cover;
}

.about-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478310997/about_p9pybx.jpg') no-repeat center center;
    background-size: cover;
}

.projects-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478310997/projects_ib5crk.jpg') no-repeat center center;
    background-size: cover;
} 

.homepage-image {
	background:
	linear-gradient(rgba(208, 208, 208, 0.35), rgba(0, 0, 0, 0.4)),
    	url('http://res.cloudinary.com/drdmdqahj/image/upload/c_fit,q_auto:good,w_1766/v1478310997/homepage_litsif.jpg') no-repeat center center;
    background-size: cover;
}

.non-profits {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311486/non-profits_uvt3ny.jpg') no-repeat center center;
   	background-size: cover;
}

.error-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478310998/404_neecmy.jpg') no-repeat center center;
   	background-size: cover;

}