.banner {
	background: 
		linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
 		url('../img/index.jpg') no-repeat center center;
	background-size: cover;
	min-height: 35em;
}

.banner,
.smaller-banner {
	display: flex;
  	align-items: center;
  	padding: 0;
}

.smaller-banner {
	background: 
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
 	url('../img/about.jpg') no-repeat center center;
	background-size: cover;
	height: $smaller-banner-height;
}

.volunteers-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('../img/volunteers.jpg') no-repeat center center;
    background-size: cover;
}

.events-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('../img/events.jpg') no-repeat center center;
    background-size: cover;
}

.contact-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('../img/contact.jpg') no-repeat center center;
    background-size: cover;
}

.about-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('../img/about.jpg') no-repeat center center;
    background-size: cover;
}

.projects-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('../img/projects.jpg') no-repeat center center;
    background-size: cover;
} 

.homepage-image {
	background:
	linear-gradient(rgba(208, 208, 208, 0.35), rgba(0, 0, 0, 0.4)),
    	url('../img/homepage.jpeg') no-repeat center center;
    background-size: cover;
}

.non-profits {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('../img/non-profits.JPG') no-repeat center center;
   	background-size: cover;
}

.error-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.4)),
    	url('../img/404.jpg') no-repeat center center;
   	background-size: cover;

}