

.banner {
	background: 
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
 	url('../img/about.jpg') no-repeat center center;
	background-size: cover;
	min-height: 30em;
	h2 {
		font-family: $base-font-name;
		font-weight: $base-font-light;
		color: $white;
		font-size: $h2-font-size/1.2;
		line-height: $h2-font-size/1.2;
		max-width: 40em;
		min-width: 15em;
		margin: 1em auto;
		text-transform: none;
		@media(min-width:600px) {
			h2 {
				margin:0 auto;
				font-size: $h2-font-size;
    			line-height: $h2-font-size;
    			margin: 0 auto;
    			padding: 0;
			}
		}

	}
}

.smaller-banner {
	background: 
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
 	url('../img/about.jpg') no-repeat center center;
	background-size: cover;
	height: $smaller-banner-height;
	padding: 0;
	margin: 0;
	h1 {
		padding: 0;
		padding-top: 2em;
	}

}

.volunteers-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
    	url('../img/volunteers.jpg') no-repeat center center;
    background-size: cover;

}
.events-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
    	url('../img/events.jpg') no-repeat center center;
    background-size: cover;

}
.contact-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
    	url('../img/contact.jpg') no-repeat center center;
    background-size: cover;

}

.about-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
    	url('../img/about.jpg') no-repeat center center;
    background-size: cover;

}

.projects-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
    	url('../img/projects.jpg') no-repeat center center;
    background-size: cover;

}
.homepage-image {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
    	url('../img/homepage.jpeg') no-repeat center center;
    background-size: cover;

}

.non-profits {
	background:
	linear-gradient(rgba(246, 198, 182, 0.35), rgba(0, 0, 0, 0.5)),
    	url('../img/non-profits1.JPG') no-repeat center center;
   	background-size: cover;

}