@import "reset";
@import "colours";
@import "typography";

$link-color: $red;
$padding-margin-value: 2em; 
//$accent-color: $green;
//$form-padding-value: 1em;
$max-width: 60em;
$col-width: 31%;
$smaller-banner-height: 24em;
$project-image-height: 26em;
$form-padding-value: 1em;
$max-text-width: 45em;