@import "reset";
@import "colours";
@import "typography";

$line-height: 1.3em;
$padding-margin-value: 1.5em; 
//$accent-color: $green;
//$form-padding-value: 1em;
$max-width: 60em;

$link-color: $red;
