@import "reset";
@import "colours";
@import "typography";

$link-color: $red;
$padding-margin-value: 2em; 
$max-width: 60em;
$smaller-banner-height: 24em;
$project-image-height: 30em;
$form-padding-value: 1em;
$max-text-width: 850px;