.button {
	border: 0.1em solid $pop-pink;
	background-color: $pop-pink;
	color: $white;
	text-decoration: none;
	padding: $padding-margin-value/2;
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 35%;

	@media (max-width: 992px) {
		width: 100%;
	}

	
	&:visited{}

	&:hover {
		background: darken($pop-pink, 10%);
		text-decoration: underline;
		border-color: darken($pop-pink, 15%);
		color: $white;
	}
	
	&.btn_full-width {
		width: 100%;
	}
}

.inactive {
	background: none;
	color: $pop-pink;
}