.button {
	border: 0.1em solid $pop-pink;
	background-color: $pop-pink;
	color: $white;
	text-decoration: none;
	padding: $padding-margin-value/2;
	display: block;
	text-align: center;
	margin: 4em auto;
	width: 15em;
	font-weight: bold;

	&:hover {
		background: transparent;
		color: $pop-pink;
	}
}

.inactive {
	background: none;
	color: $pop-pink;
}

.btn-project {
		float: left;
}