.col-3 {
	min-width: 10em;
	max-width: 30em;
	margin: $padding-margin-value auto;
	padding: .5em;
	//margin-bottom: $padding-margin-value*2;
	text-align: center;

	h2 {
		text-transform: none;
		font-size: $title-font-size/1.3;
		color: #333;
		padding: 0;
	}
	p {
		padding: $padding-margin-value/4;
		margin: 0;
		text-align: center;
		font-weight: $base-font-light;

	}
	@media(min-width: 600px) {

		width: 33.3%;
		display: inline-block;
     	vertical-align: top;
     	&:first-child {
			float: left;
			border-right: 1px solid #F5F5F5; 
		 }
		&:last-child {
		 	float: right;
		 	border-left: 1px solid #F5F5F5;
		}
	}
}

.who-we-are {
	p {
		text-align: left;
	}
}
.col-wrap {
	margin: 0 auto;
	padding: 0;
    clear: both;
    .founding-team{
		margin-top: $padding-margin-value;
	}	

    @media(min-width:600px) {
		padding: 0 0 2em 0;
		.founding-team{
			margin-top: $padding-margin-value;
		}
	}
}

.col-2 {
	width: 100%;
	text-align: center;
	p {
		padding: 0 2em;
	}
	h2 {
		padding: $padding-margin-value/4;
		font-size: 1.5em;
	}
	@media(min-width: 600px) {
		display: inline-block;
	    vertical-align: top;
	    margin: 0;
	    margin-top: $padding-margin-value;
	    width: 49%;

	}
   
}