// $pale-blue: #9AC9D7;
$white: #fcfcfc;
$black: #3c3c3c;
$darkest-black: #000;
$dark-blue: #568B9A;
$red: #C52253;
// $paler-blue: #B6E2EF;
$grey: #f2f2f2;
$grey-white: #f4f4f4;
$dark-grey: #949494;
// $green: #75A254;
$green:#3DA167;
$pale-green:#7BC3A3;
