$title-font-name: "Lato", sans-serif;
$base-font-name:  "Open Sans", sans-serif; 
$base-font-size: 16px;
$title-font-size: 2 * $base-font-size;
$base-font-light: 300;
$base-font-bold: 700;
$h1-font-size: $title-font-size*1.95;
$h1-line-height: 1.5 * $h1-font-size;
$line-height: 1.5 * $base-font-size;
$h2-font-size: 1.8em;
$p-font-size: 20px;

$small-font-size:  $base-font-size * 0.875;


/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

// Font Family
$title-font-family: $title-font-name;
$base-font-family: $base-font-name;

// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : #000;
$paragraph-size       : rem(18px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;
 
// Header Styles
$header-color      : #000;
$header-size       : rem(40px);
$header-line-height: 1.25em;
$header-margin     : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color      : #000;
$blockquote-size       : rem(23px);
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;

// Links
$link-color: $pop-pink;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;





/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*, html, body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


// Headers
h1, h2, h3, h4, h5, h6 {
    margin: $header-margin * 1.5 0 $header-margin 0;
    color: $header-color;
    line-height: $header-line-height;
    font-weight: 400;
    font-family: $title-font-family;
    text-align: center;
}

h1 {
    font-size: $header-size;
    font-weight: 700;
}

h2 {
    font-size: $header-size / 1.3;
}

h3 {
    font-size: $header-size / 1.5;
}

h4 {
    font-size: $header-size / 1.7;
}

h5 {
    font-size: $header-size / 1.8;
}

h6 {
    font-size: $header-size / 2;
}



// Paragraphs
p {
    margin-top: $paragraph-margin;
    font-size: $paragraph-size;
    line-height: $paragraph-line-height;
    color: $paragraph-color;
	font-family: $base-font-family;
	txt-align: center;
	font-weight: 300;
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;

    &:first-of-type {
        margin-top: 0;
    }
}



// Links
a {
    text-decoration: none;
    color: $paragraph-color;
    &:hover, &:focus {
        text-decoration: none;
        color: $paragraph-color;
    }
}


// Lists
ul, ol {
    margin: $paragraph-margin 0 0 20px;

    li {
        margin-top: 10px;
        color: $paragraph-color;
    }

    ul, ol {
        margin-top: 0;
    }
}

ul {

    li {
        list-style: disc;
    }

    ul {

        li {
            list-style: circle;
        }
    }
}

ol {

    li {
        list-style: decimal;
    }
}


// hr
hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: $border-color;
}


// Blockquote
blockquote {
    margin: $blockquote-margin 0;
    font-size: $blockquote-size;
    line-height: $blockquote-line-height;
    color: $blockquote-color;
    text-align: center;
    font-style: italic;
}


// Tables
table {
    width: 100%;
    margin: $blockquote-margin 0;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid $border-color;
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
}

th, td {
    padding: 15px;
}


// Figure
figure {
    margin: $blockquote-margin 0;

    img {
        margin: 0;
    }
}

figcaption {
    margin-top: 10px;
    color: lighten($paragraph-color, 10%);
    font-size: $paragraph-margin * 0.8;
}


// Code
pre {
    display: block;
    margin: 0 0 40px 0;
    padding: 20px;
    background-color: lighten($border-color, 12%);
    border: 1px solid $border-color;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    code {
        position: static;
        padding: 0;
        border: none;
        line-height: 1.5em;
    }
}

code {
    position: relative;
    top: -0.2em;
    padding: 3px;
    font-family: Courier New, Courier, monospace;
    font-size: $paragraph-size / 1.4;
    color: darken($border-color, 40%);
    line-height: 1em;
    pointer-events: none;
    border: 1px solid $border-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

// Misc Styles
em, i, .italic {
    font-style: italic;
}

strong, b, .bold {
    font-weight: $font-weight-bold;
}

img {
    display: block;
    max-width: 100%;
    margin: $blockquote-margin 0;
}
