.footer {
	padding: 30px 0;
	background-color: $grey-color-dark;
	color: $grey-color-light;

	&__title {
		text-transform: uppercase;
		color: #fff;
		font-size: $small-font-size;
		text-align: left;
	}

	&__item {
		list-style: none;
	}

	&__list {
		margin: 0;
	}

	&__link,
	&__link:visited {
		text-decoration: none;
		color: $white;

		&:hover {
			color: $link-hover;
		}		
	}

	&__copyright {
		color: $white;
		padding: 3em 0;
		text-align: left;

		@media (min-width:480px) {
			text-align: center;
		}
	}

	.fa {
		width: 20px;
	}
}