
form {
  margin: 0 auto;
  width: 100%;
  max-width: 20em;
  padding: $padding-margin-value;
}

input {
  display: block;
  width: 100%;
  padding: $form-padding-value;
  margin: $form-padding-value auto $form-padding-value auto;
  border: 1px solid $dark-grey;
  color: $black;
}
label {
  display: none;
}

input[type=email] {
  display: block;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  width: 100%;
  border: 1px solid $dark-grey;
  color: $black;
}

input[type=number] {
  display: block;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  width: 100%;
  border: 1px solid $dark-grey;
  color: $black;
}

input[type=submit] {
  display: block;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  width: 100%;
  border: none;
  opacity: 1;
  box-shadow: .5em .5em 0px rgba(0,0,0,.1);
  background-color: $pop-pink;
  color: $white;
  &:hover { 
    opacity: .8;  
  }
}


textarea {
  display: block;
  width: 100%;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  border: 1px solid $dark-grey;
  color: $black;
}
