.partner-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 4em auto;
	max-width: 40em;

	img {
		width: 100%;
		height: auto;
		margin: 0;
	}

	li {
		display: inline-block;
		list-style: none;
		padding: .5 em;
		vertical-align: middle;
		max-height: 12em;
		margin: .5em;
	}
}