.partner-list {
	list-style: none;
	max-width: 25em;
	margin: $padding-margin-value auto;
	li {
		display: inline-block;
		width: 8em;
    	vertical-align: middle;
	}
	li:last-child {
		margin: 0 30%;
	}
	img {
		width: 100%;
		height: auto;
	}
}