.project-img {
	display: none;
	img {
		height: $project-image-height;
	    border: 2em solid rgb(255, 255, 255);
	    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1) inset;
	    box-shadow: 10px 10px 0px rgba(0,0,0,.1); 
	}
	height: $project-image-height;
	margin: 0;

	@media (min-width: 992px) {
		display: inline-block;
		max-width: 49%;
	}
}

.findacure {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311010/findacure_u5boyo.jpg') no-repeat center center;
	background-size: contain;
}

.fashrevwall {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/c_scale,q_auto:good,w_800/v1478311010/fashrevwall_ouqx5h.jpg') no-repeat center center;
	background-size: contain;
}

.whfnp {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311011/whfnp_epiemo.png') no-repeat center center;
	background-size: contain;
}

.pimpmycause {
	background: url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478311009/pimpmycause_wfdxkg.jpg') no-repeat center center;
	background-size: contain;
}

.jaspalsvoice {
	background: url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478311011/jaspalsvoice_j9hpzc.jpg') no-repeat top;
	background-size: contain;
}

.tgiuk {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1478311009/togetherintheuk_sfkocs.jpg') no-repeat top;
	background-size: contain;
}

.project {
	margin-top: 3em;
	padding: 3em 0;

	.button {
		display: inline-block;
		width: auto;
		margin: .5em auto;

	}

	h4 {
		text-align: left;
		font-style: italic;
		font-weight: 100;
	}

	p {
		border: 0 !important;
		padding-left: 0;
		padding-right: 0;

		&:last-of-type {
	        margin-bottom: 2em;
	    }   
	}

	h2 {
		padding: 0;
		color: $orange;
		margin-top: 0;
		text-align: left;
	}

}
