$section-bg: $white;

section {
	margin: 0;
	clear: both;
	background-color: $white; 
	padding: $padding-margin-value*4 0;
	padding-bottom: $padding-margin-value*4;
	background-color: $section-bg;
	p {
		text-align: center;
		max-width: $max-text-width; 
		margin: 0 auto; 
		padding: $padding-margin-value;
		@media (min-width: 600px)
		{
			padding: 0;
		}
	}
	h3 {
		max-width: $max-text-width; 

	}
}



section:nth-child(4) {
 	$section-bg: $pop-blue;
 	background-color: $section-bg;
}

section:nth-child(0) {
 	$section-bg: $pop-blue;
 	background-color: $section-bg;


}
section:nth-child(6) {
	$section-bg: $pale-orange;
	background-color: $section-bg;

}

section:nth-child(even){
	h2 {
 		color: $white;
 	}
 	h3 {
 		color: $black;
 	}
}