$section-bg: $white;

section {
	clear: both;
	background-color: $white; 
    padding: 4em 0 8em;
    background-color: $section-bg;

    p {
    	padding: 0 1em;
		text-align: center;

	    &:first-of-type {
	        margin-top: 2em;
	    }    
	}

	@media (min-width: 760px) {	
		p {
    		border-left: 2px solid pink;
    		text-align: left;
		}
	}
}


section:nth-child(4) {
 	$section-bg: $pop-blue;
 	background-color: $section-bg;
 	background-image: linear-gradient(315deg,#2693d5,$section-bg);

 	.faq {
 		h3 {
			color: $black;
		}
	}
	p {
		color: $white;  
	}

	@media (min-width: 760px) {	
		p {
			border-left: 2px solid $white;
		}
	}
}

section:nth-child(0) {
 	$section-bg: $pop-blue;
 	background-color: $section-bg;
 	background-image: linear-gradient(315deg,#2693d5,$section-bg);
}

section:nth-child(6) {
	$section-bg: $pale-orange;
	background-color: $section-bg;
 	background-image: linear-gradient(315deg,#FF6E3D,$section-bg);
	p {
		color: $white;  
	}

	@media (min-width: 768px) {	
		p {
			border-left: 2px solid $white;
		}
	}
}


section:nth-child(8) {
 	$section-bg: $pop-blue;
	background-color: $section-bg;
 	background-image: linear-gradient(315deg,#2693d5,$section-bg);

	@media (min-width: 760px) {	
		p {
			border-left: 2px solid $white;
		}
	}
}

section:nth-child(even){

	h2,
	h3,
	h4 {
 		color: $white;
 	}

 	.text-link {
 		color: $white;
 		border-bottom:1px $white dashed;
 	}
	p {
		color: $white;  
	}

	@media (min-width: 760px) {	
		p {
			border-left: 2px solid $white;
		}
	}
}

section:nth-child(odd){
	p {
		color: $black;  
	}
}