.social {
	padding: 3em 0;
	width: 100%;
	text-align: center;
	background: #3D3D3D;

	ul {
		margin: 0 auto;
		padding: 0;
		display: inline;
	}

	li {
		list-style: none;
		display: inline-block;
		margin: 0 .5em;
	}
}

.twitter {
	background: url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/twitter-logo_k4nug4.svg');
}

.facebook {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/facebook-logo_htgvrx.svg');
}

.github {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/github-logo_nhuzqq.svg');
}

.medium {
	background-image: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/medium-logo_qhao7s.svg');
}

.newsletter {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/newsletter-logo_a0sctb.svg');
}

.social-icon {
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	background-size: cover;
	text-decoration: none;
    border-radius: 2.5em;
}