.social {
	margin: 6em auto;
	width: 100%;
	text-align: center;

	ul {
		margin: 0 auto;
		padding: 0;
		display: inline;
	}

	li {
		list-style: none;
		display: inline-block;
		margin: 0 .5em;
	}
}

.twitter {
	background: url('https://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/twitter-logo_k4nug4.svg') no-repeat center center;
}

.facebook {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/facebook-logo_htgvrx.svg') no-repeat center center;
}

.github {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/github-logo_nhuzqq.svg') no-repeat center center;
}

.medium {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/medium-logo_qhao7s.svg') no-repeat center center;
}

.newsletter {
	background: url('http://res.cloudinary.com/drdmdqahj/image/upload/v1478311048/newsletter-logo_a0sctb.svg') no-repeat center center;
}

.social-icon {
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	background-size: cover;
	text-decoration: none;
}