.social {
	margin: 6em auto;
	width: 100%;
	text-align: center;

	ul {
		margin: 0 auto;
		padding: 0;
		display: inline;
	}

	li {
		list-style: none;
		display: inline-block;
		margin: 0 .5em;
	}
}

.twitter {
	background: url('../img/icons/twitter-logo.svg') no-repeat center center;
}

.facebook {
	background: url('../img/icons/facebook-logo.svg') no-repeat center center;
}

.github {
	background: url('../img/icons/github-logo.svg') no-repeat center center;
}

.medium {
	background: url('../img/icons/medium-logo.svg') no-repeat center center;
}

.newsletter {
	background: url('../img/icons/newsletter-logo.svg') no-repeat center center;
}

.social-icon {
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	background-size: cover;
	text-decoration: none;
}