@import url(https://fonts.googleapis.com/css?family=Lobster);

$title-font-name: "Lobster", cursive;
$base-font-name: "Helvetica", sans-serif;
$base-font-size: 16px;
$title-font-size: 2 * $base-font-size;
$base-font-light: 100;
$h1-font-size: $title-font-size*1.95;
$h1-line-height: 1.5 * $h1-font-size;
$line-height: 1.5 * $base-font-size;
$p-font-size: 20px;


