@import url(https://fonts.googleapis.com/css?family=Lobster);

$title-font-name: "Lato", sans-serif;
$base-font-name:  "Lato", sans-serif; //"Helvetica", sans-serif;
$base-font-size: 14px;
$title-font-size: 2 * $base-font-size;
$base-font-light: 400;
$h1-font-size: $title-font-size*1.95;
$h1-line-height: 1.5 * $h1-font-size;
$line-height: 1.5 * $base-font-size;
$h2-font-size: 1.8em;
$p-font-size: 20px;


